doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.header 
            .header_box
                .header_left
                    a(href="/").icon_box
                        img(src="https://storage.todayphone.net/upload/config/20210324133509_8373.png")
                    .font_box
                        .best_box
                            a 베스트
                        .best_box     
                            a 갤럭시22🎁
                        .best_box
                            a 아이폰13⚡️
                        .best_box
                            a 갤럭시Z⏱
                        .best_box
                            a APPLE
                        .best_box
                            a 삼성전자
                        .best_box
                            a 공짜폰


                .header_right
                    .plan_box   
                        .special_e_box  
                            a 기획전 ▴

                        .event_box 
                            a 이벤트 ▴
                        .review_box 
                            a(href="/review") 구매후기
                        .login_box  
                            a(href="/login") 로그인 
                        .serch_box 
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2bqKkPdOMjPbDkxho0oAcOrl7EfQ-8mhbWg&usqp=CAU", width="25px")
        main.main
            block content

        footer.footer
            p footer
            
            

