extends ../layouts/base.pug

block content 
    form.detailForm(action="/b/notice" method="POST").wf
        input(type="text"  value=kimchi.title).review__title
        input(type="text"  value=kimchi.user).review__user
        textarea(name="content").review__content #{kimchi.content}
        button(type="submit") 목록