extends ./base.pug

block content 
    form.writeForm(action="/b/notice" method="get").wf
        p #{kimchi.createdAt}
        input(type="text" readonly value=kimchi.title).wf__title
        input(type="text" readonly value=kimchi.user).wf__user
        textarea(name="content" readonly).wf__content #{kimchi.content}
        button(type="submit") 목록