extends ../layouts/base.pug

block content 


    main.main
        .slidebox
            input(type="radio" name="slide" id="slide01" checked)
            input(type="radio" name="slide" id="slide02" )
            input(type="radio" name="slide" id="slide03" )
            input(type="radio" name="slide" id="slide04" )

            ul(class="slidelist")
                li(class="slideitem")
                    div 
                        label(for="slide04" class="left")
                        label(for="slide02" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202202/0000000001_20220222114953_7009.gif")

                li(class="slideitem")
                    div 
                        label(for="slide01" class="left")
                        label(for="slide03" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202201/0000000001_20220130165302_1608.gif")

                li(class="slideitem")
                    div 
                        label(for="slide02" class="left")
                        label(for="slide04" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202201/0000000001_20220130165309_4617.gif")

                li(class="slideitem")
                    div 
                        label(for="slide03" class="left")
                        label(for="slide01" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202202/0000000001_20220222114953_7009.gif")


        .galaxy22_box


    











                