extends ../layouts/base.pug

block content 


    main.main
        .slidebox
            input(type="radio" name="slide" id="slide01" checked)
            input(type="radio" name="slide" id="slide02" )
            input(type="radio" name="slide" id="slide03" )
            input(type="radio" name="slide" id="slide04" )

            ul(class="slidelist")
                li(class="slideitem")
                    div 
                        label(for="slide04" class="left")
                        label(for="slide02" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202202/0000000001_20220222114953_7009.gif")

                li(class="slideitem")
                    div 
                        label(for="slide01" class="left")
                        label(for="slide03" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202201/0000000001_20220130165302_1608.gif")

                li(class="slideitem")
                    div 
                        label(for="slide02" class="left")
                        label(for="slide04" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202201/0000000001_20220130165309_4617.gif")

                li(class="slideitem")
                    div 
                        label(for="slide03" class="left")
                        label(for="slide01" class="right")
                        a()
                            img(src="https://storage.todayphone.net/upload/basic/202202/0000000001_20220222114953_7009.gif")


    .galaxy22_box
        .galaxy22_title
            p 갤럭시 S22 단독할인
            p 오늘의 폰에서 최대 30만원 단독할인으로 최저가보장👍
        
        .galaxy_product_box 
            .galaxy_product_img_box
                .galaxy_product_img
                    img(src="https://storage.todayphone.net/upload/phone/202202/0000000001_20220228000002_8990.png" width="210px")
                
                .galaxy_product_font_box
                    .galaxy_product_font
                        .galaxy_product_name
                            p 갤럭시 S22 
                        .galaxy_product_pride_box
                            .galaxy_product_pride 
                                p 175,900
                            .galaxy_product_releasepride
                                p 출고가
                                p 999,900
                    .galaxy_product_exp
                        p SKT | 기기 변경 | 선택약정할인 | 프라임
                    .galaxy_product_discount_box
                        .galaxy_product_discount1
                            p •오늘의 폰 특별할인 : 290,000원 
                            p 할인 총 금액
                        .galaxy_product_discount2
                            p •선택약정할인 : 534,000원
                            p 824,000원
                    
            .galaxy_product_img_box
                .galaxy_product_img
                    img(src="https://storage.todayphone.net/upload/phone/202202/0000000001_20220228000132_6042.png" width="210px")

                .galaxy_product_font_box
                    .galaxy_product_font
                        .galaxy_product_name
                            P 갤럭시 S22+
                        .galaxy_product_pride_box
                            .galaxy_product_pride
                                p 375,000
                            .galaxy_product_releasepride
                                p 출고가
                                p 1,199,000
                    .galaxy_product_exp
                        p SKT | 기기 변경 | 선택약정할인 | 프라임

                    .galaxy_product_discount_box 
                        .galaxy_product_discount1
                            p •오늘의 폰 특별할인 : 290,000원 
                            p 할인 총 금액
                        .galaxy_product_discount2
                            p •선택약정할인 : 534,000원
                            p 824,000원
                    

            .galaxy_product_img_box
                .galaxy_product_img
                    img(src="https://storage.todayphone.net/upload/phone/202202/0000000001_20220228000313_6605.png" width="210px")

                .galaxy_product_font_box
                    .galaxy_product_font
                        .galaxy_product_name
                            p 갤럭시 S22 Ultra
                        .galaxy_product_pride_box
                            .galaxy_product_pride
                                p 628,000
                            .galaxy_product_releasepride
                                p 출고가    
                                p 1,452,000
                    .galaxy_product_exp
                        p SKT | 기기 변경 | 선택약정할인 | 프라임
                    .galaxy_product_discount_box 
                        .galaxy_product_discount1
                            p •오늘의 폰 특별할인 : 290,000원 
                            p 할인 총 금액
                        .galaxy_product_discount2
                            p •선택약정할인 : 534,000원
                            p 824,000원
                    
                        


            // database
            .galaxy_product_img_empty_box
                .galaxy_product_img

                .galaxy_product_font_box
                    .galaxy_product_name
                .galaxy_product_pride
    .color
    .t_best_phones
        .whole
            .t_best_phones_title
                p 오늘의폰 BEST PICK >
                p 가격도 BEST, 인기도 BEST
            
            .t_best_phones_rowbox1

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202203/0000004952_20220315141240_6290.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                            p 아이폰SE3
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                                p 148,000
                            .t_best_phone_release_pride
                                p 출고가
                                p 590,000원
                        .t_best_phones_exp
                            p LG | 통신사이동 | 공시지원할인 | 프리미어 에센셜
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                                p •오늘의폰 특별할인:290,000
                                p 할인 총 금액
                            .t_best_phones_discount2
                                p •공시지원할인 : 152,000원
                                p 442,000

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202109/0000004262_20210923142533_8638.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202109/0000004262_20210923142928_2711.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202108/0000000001_20210819004534_6929.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

            .t_best_phones_rowbox2 

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202108/0000000001_20210819004427_4054.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202204/0000004952_20220404152232_5603.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202103/0000000043_20210322173542_5884.jpg" width="100px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2

                .t_best_phones_box
                    .t_best_phones_img_box  
                        .t_best_phones_img 
                            img(src="https://storage.todayphone.net/upload/phone/202203/0000004952_20220318114731_5358.png" width="170px")
                    .t_best_phones_font_box
                        .t_best_phones_name 
                        .t_best_phones_pride_box
                            .t_best_phones_pride
                            .t_best_phone_release_pride
                        .t_best_phones_exp
                        .t_best_phones_discount_box
                            .t_best_phones_discount1 
                            .t_best_phones_discount2














                    


        



        











                
